<div id="footer">
    <br>
    <br>
    <hr>
    <div class="container">
        <div class="copyright">
            LinkedIn © <span id="copyright-year">2017</span>.
            <!-- {%FOOTER_LINK} -->
        </div>
        <div class="social">
            MT - Adil - Elvan
        </div>
    </div>
    <br>
    <br>
</div>