{% extends "login/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-left pull-left">
                <li><a href="{% url 'login:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                <li><a href="/login/custom_auth/logout/" onclick="return confirm('Keluar?')"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
            </ul>
            <ul class="nav navbar-nav nav-right pull-right">
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2> Selamat Datang, {{ author }} </h2>
		</div>
		<div class="panel-body">
			<div class="col-md-9">
				<div class="status-profile">
					<div class="status-profile-left">
						<span style="float: left; margin-right: 15px;"><img src="http://moziru.com/images/profile-clipart-generic-user-11.png" width="180px" height="180px" alt="my-photo"></span>
					</div>
				</div>
				<div class="status-profile-right">
		            <div class="clearfix">
		        		<p> <b>Username :</b> {{ author }} </p>
						<p> <b>NPM :</b> {{kode_identitas}} </p>
						<p> <b>Role :</b> {{ role }} </p>
						<div class="feeds"> <b> Feeds : </b> {{feed}}</div>
						<div class="latest-post"><b>Latest Post:</b>
						{% if database %}
							<div class="status-message">
								{{laststatus.status}}
							</div>
							<div class="status-date">
								{{laststatus.created_date}}
							</div>
						{% else %}
						<strong>Anda Belum Pernah Buat Status.</strong>
						{% endif %}
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-3" align="center">
			<br>
				<form action="{% url 'login:change_nilai' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" id="show_nilai" name="show_nilai" value="True">
					<input type="submit" class="btn btn-primary" value="Tampilkan Nilai">
				</form>
				<br>
				<form action="{% url 'login:change_nilai' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" id="show_nilai" name="show_nilai" value="False">
					<input type="submit" class="btn btn-primary" value="Sembunyikan Nilai">
				</form>
			</div>
		</div>
		<div class="panel-footer">
			<a href="{% url 'login:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
				Logout </a>
		</div>
	</div>
</section>

<section id="data-table">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active">
			<a href="#profile" data-toggle="tab"> Profile </a>
		</li>
		<li role="presentation">
			<a href="#riwayat" data-toggle="tab"> Riwayat </a>
		</li>
		<li role="presentation">
			<a href="#updatestatus" data-toggle="tab"> Status </a>
		</li>
		<li role="presentation">
			<a href="#teman" data-toggle="tab"> Teman </a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="profile">
			{% include 'login/tables/profil.html' %}
		</div>
		<div role="tabpanel" class="tab-pane fade" id="riwayat">
			<!-- Apply the same here -->
			{% include 'login/tables/riwayat.html' %}
		</div>
		<div role="tabpanel" class="tab-pane fade" id="updatestatus">
			{% include 'login/tables/status.html' %}
		</div>
		<div role="tabpanel" class="tab-pane fade" id="teman">
			{% include 'login/tables/cari_mahasiswa.html' %}
		</div>
	</div>
</section>
{% endblock %}


