{% extends "login/layout/base.html" %}

{% block content %}
<div class="row login" style="height: 480px;">

	<div class="top">
		<h1 class="modal-title">Be great at what you do</h1>
	</div>

	<div class="bottom" align="center">
		<a data-original-title="Popover on left" data-animation="false" href="#" data-easein="flipBounceXIn" class="btn btn-primary" rel="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="myBtn">Login Mahasiswa</a>
	</div>
	<!-- <button id="myBtn">Login Mahasiswa</button> -->
 <!--    <div class="col-md-6 col-md-offset-3"> -->
        <div class="rata-tengah">
			<div id="myModal" class="modal">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
						<h4 class="modal-h4"> Halaman Login </h4>
					</div>
					<div class="modal-body">
						<form action="{% url 'login:auth_login' %}" method="POST">
						{% csrf_token %}
						<p>
						    <label for="username"> Your username </label>
						    <input type="text" id="username" name="username" required>
						</p>
						<p>
						    <label for="password"> Your password </label>
						    <input type="password" id="password" name="password" required>
						</p>
						<input type="submit" class="btn btn-primary">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="close" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div> 
    <!-- </div> -->
</div>
{% endblock %}

{% block script %}
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}