/* NAVBAR BLOCK */
.navbar .navbar-brand {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar-inverse .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-header a:hover {
	filter: invert(0%);
	-webkit-filter: invert(0%);
	background-color: #ffffff;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}
/* END NAVBAR BLOCK */