{% load staticfiles %} {% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/riwayat.css' %}" />
{% endblock %}

<form action="{% url 'riwayat:change_nilai' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" id="show_nilai" name="show_nilai" value="True">
	<input type="submit" class="btn btn-primary" value="Tampilkan Nilai">
</form>
<form action="{% url 'riwayat:change_nilai' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" id="show_nilai" name="show_nilai" value="False">
	<input type="submit" class="btn btn-primary" value="Sembunyikan Nilai">
</form>

<div class="col-md-6">
<h2 class="title"> List Riwayat</h2>
	<div class="list-group scroll">
		{% if riwayat_list %}
			{% for riwayat in riwayat_list %}
				<a class="list-group-item clearfix">
					<div class="col-md-10">
					{% if riwayat.kelas == None %}
					Tidak ditemukan
					{% else %}
					{{ riwayat.kelas.nm_mk_cl.nm_mk }}
					{% endif %}</div>
					<div class="col-md-2">
					{% if show_nilai.reminder %}{{ riwayat.nilai }}
					{% else %}Hidden{% endif %}
					</div>
				</a>
			{% endfor %}
		{% else %}
			<div class="alert alert-danger text-center">
				<strong>Opps!</strong> Riwayat mahasiswa tidak ditemukan
			</div>
		{% endif %}
	</div>
</div>