/* Set the fixed height of the footer here */

#footer {
margin: auto;
  height: auto;
  overflow: hidden;
}    

#footer hr {
	margin-left: 150px; margin-right: 150px;
}

#footer .social {
	color: white;
	font-family: Lato;
	float: left;
	padding: 0;
	margin: 0;
	width: 300px;
	text-align: center;
	line-height: 20px;
	text-shadow: 2px 2px 5px black;
}
#footer .copyright {
	color: white;
	font-family: Lato;
	line-height: 20px;
	float: right;
	padding: 0;
	width: 300px;
	text-align: center;
	text-shadow: 2px 2px 5px black;
}

@media only screen and (max-width: 480px) {
  #footer .social {
  	width: auto;
  }

  #footer .copyright {
  	width: auto;
  }
}