body {
	 background-image: url("../images/login-wallpaper.d27675883e26.jpg");
	 background-size: auto;
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
}

.title{
	font-family:'Montserrat', sans-serif;
	font-size: 40px;
	margin-bottom: 1em;
	color: white;
	text-align: left;
	text-shadow: 2px 2px 5px black;
}

.rata-tengah {
	text-align: center;
	margin : 20px;
}
.judul {
	font-family:'Montserrat', sans-serif;
	color: white;
	text-shadow: 2px 2px 5px black;
	margin-bottom: 50px;
	margin-top: 50px;
	text-transform: uppercase;
	text-align: center;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.login .title {
	font-family: 'Montserrat', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 3em;
	text-shadow: 3px 3px 10px black;
}

.login p {
	font-family: 'Lato';
	color: black;
	/*font-style: bold;*/
	font-size: 1.3em;
}

/* NAVBAR BLOCK */

.navbar .navbar-brand {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar-inverse .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-header a:hover {
	filter: invert(0%);
	-webkit-filter: invert(0%);
	background-color: #ffffff;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}
/* END NAVBAR BLOCK */

/* LIST LAB BLOCK */
#listLab li {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
	float: left;
	display: inline-block;
}

#listLab li a {
	padding: 100px;
}
/* END LIST LAB BLOCK */

.textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	font-family: Lato;
}
