{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="LOGIN">
		<meta name="author" content="{{author}}">

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- JQuery dataTables CSS -->
		<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
		<!-- Login CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer_login.css' %}" />
    	<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
    	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
    	<link rel="stylesheet" type="text/css" href="{% static 'css/modal_login.css' %}" />
    	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="icon" href="{% static 'images/logo.ico' %}">
		<link rel="stylesheet" type="text/js" href="{% static 'js/modal.js' %}" />
		<style>
			.rata-tengah {
				text-align: center;
				margin : 20px;
			}
			.judul {
				text-transform:uppercase;
				margin-bottom: 50px;
				margin-top: 50px;
			}
		</style>
		<title>
			{% block title %} LinkedIn {% endblock %}
		</title>
	</head>
	<body>
		<header>
			{% block header %}
			<!-- Your Header Here -->
			{% include "login/partials/header.html" %}
			{% endblock %}
		</header>
		<content>
			<div class="container" style="margin-top: 50px;">
				{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
				{% endfor %}
                {% block content %}
                <!-- Your Content Here -->
                {% endblock %}
            </div>
        </content>
        <footer>
            {% include "login/partials/footer.html" %}
        </footer>
		
		{% block script %}
		{% endblock %}
        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- JQuery dataTables Script -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    </body>
</html>
