<div class="col-md-6">
	<h2 class="title"> Profil </h2>
	<div class="panel-body">
		<div class="container" style="width: 100%">
			<div class="profile-list">
				<p> Username : {{ author }} </p>
				<p> NPM : {{kode_identitas}} </p>
				<p> Role : {{ role }} </p>
				<p> Keahilan : </p>
				<p> Email : </p>
				<p> Profile LinkedIn : </p>
			</div>
		</div>
	</div>
</div>